// Define custom color variables
$background-color: #121212 !default;
$card-background-color: #181818 !default;
$text-color: #ADB7BE !default;
$link-color: #60a5fa !default;
$link-hover-color: #1e40af !default;

// Highlights
$highlight-text-color: #E0E0E0;
$icon-color: #D0D0D0;



$footer-background-color: #121212 !default;
$footer-text-color: #ADB7BE !default;
$footer-link-color: #60a5fa !default;
$footer-link-hover-color: #1e40af !default;


