<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-left">
            <p>&copy; {{ site.time | date: '%Y' }} {{ koda-git | default: "koda-git" }}</p>
        </div>

        <div class="footer-center">
            <a href="{{ site.url }}/" aria-label="Homepage">
                <i class="fas fa-home"></i>
            </a>
            <a href="mailto:reachme@jaeho.me" aria-label="Email">
                <i class="fas fa-envelope"></i>
            </a>
            <a href="https://github.com/koda-git" aria-label="GitHub">
                <i class="fab fa-github"></i>
            </a>
            <!-- <a href="https://x.com/yourhandle" class="btn--x" aria-label="X">
                <i class="fab fa-x-twitter"></i>
            </a> --> <!-- Maybe I'll use X if it wasn't owned by someone... -->
        </div>

        <div class="footer-right">
            <a href="https://jaeho.me">Portfolio</a>
            <a href="{{ site.baseurl }}/about/">About</a>
        </div>
    </div>
</footer>